.fapi-order-form html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.fapi-order-form body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.fapi-order-form hr {
    height: 0;
    color: inherit;
}

.fapi-order-form abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.fapi-order-form b, .fapi-order-form strong {
    font-weight: bolder;
}

.fapi-order-form code, .fapi-order-form kbd, .fapi-order-form pre, .fapi-order-form samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em;
}

.fapi-order-form small {
    font-size: 80%;
}

.fapi-order-form sub, .fapi-order-form sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.fapi-order-form sub {
    bottom: -.25em;
}

.fapi-order-form sup {
    top: -.5em;
}

.fapi-order-form table {
    text-indent: 0;
    border-color: inherit;
}

.fapi-order-form button, .fapi-order-form input, .fapi-order-form optgroup, .fapi-order-form select, .fapi-order-form textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.fapi-order-form button, .fapi-order-form select {
    text-transform: none;
}

.fapi-order-form [type=button], .fapi-order-form [type=reset], .fapi-order-form [type=submit], .fapi-order-form button {
    -webkit-appearance: button;
}

.fapi-order-form ::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.fapi-order-form :-moz-focusring {
    outline: 1px dotted ButtonText;
}

.fapi-order-form :-moz-ui-invalid {
    box-shadow: none;
}

.fapi-order-form legend {
    padding: 0;
}

.fapi-order-form progress {
    vertical-align: baseline;
}

.fapi-order-form ::-webkit-inner-spin-button, .fapi-order-form ::-webkit-outer-spin-button {
    height: auto;
}

.fapi-order-form [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.fapi-order-form ::-webkit-search-decoration {
    -webkit-appearance: none;
}

.fapi-order-form ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.fapi-order-form summary {
    display: list-item;
}

.fapi-order-form blockquote, .fapi-order-form dd, .fapi-order-form dl, .fapi-order-form figure, .fapi-order-form h1, .fapi-order-form h2, .fapi-order-form h3, .fapi-order-form h4, .fapi-order-form h5, .fapi-order-form h6, .fapi-order-form hr, .fapi-order-form p, .fapi-order-form pre {
    margin: 0;
}

.fapi-order-form button {
    background-color: transparent;
    background-image: none;
}

.fapi-order-form fieldset {
    margin: 0;
    padding: 0;
}

.fapi-order-form ol, .fapi-order-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fapi-order-form html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

.fapi-order-form body {
    font-family: inherit;
    line-height: inherit;
}

.fapi-order-form *, .fapi-order-form :after, .fapi-order-form :before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

.fapi-order-form hr {
    border-top-width: 1px;
}

.fapi-order-form img {
    border-style: solid;
}

.fapi-order-form textarea {
    resize: vertical;
}

.fapi-order-form input::-moz-placeholder, .fapi-order-form textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

.fapi-order-form input:-ms-input-placeholder, .fapi-order-form textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af;
}

.fapi-order-form input::placeholder, .fapi-order-form textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

.fapi-order-form [role=button], .fapi-order-form button {
    cursor: pointer;
}

.fapi-order-form :-moz-focusring {
    outline: auto;
}

.fapi-order-form table {
    border-collapse: collapse;
}

.fapi-order-form h1, .fapi-order-form h2, .fapi-order-form h3, .fapi-order-form h4, .fapi-order-form h5, .fapi-order-form h6 {
    font-size: inherit;
    font-weight: inherit;
}

.fapi-order-form a {
    color: inherit;
    text-decoration: inherit;
}

.fapi-order-form button, .fapi-order-form input, .fapi-order-form optgroup, .fapi-order-form select, .fapi-order-form textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

.fapi-order-form code, .fapi-order-form kbd, .fapi-order-form pre, .fapi-order-form samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.fapi-order-form audio, .fapi-order-form canvas, .fapi-order-form embed, .fapi-order-form iframe, .fapi-order-form img, .fapi-order-form object, .fapi-order-form svg, .fapi-order-form video {
    display: block;
    vertical-align: middle;
}

.fapi-order-form img, .fapi-order-form video {
    max-width: 100%;
    height: auto;
}

.fapi-order-form [hidden] {
    display: none;
}

*, .fapi-order-form *, .fapi-order-form :after, .fapi-order-form :before, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
