@import url('https://fonts.googleapis.com/css2?family=Champ:wght@400;700&family=Inter:wght@400;700&display=swap');

.fapi-order-form html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust:100%
}

.fapi-order-form body {
    margin: 0;
    font-family:system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
}

.fapi-order-form hr {
    height: 0;
    color:inherit
}

.fapi-order-form abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration:underline dotted
}

.fapi-order-form b, .fapi-order-form strong {
    font-weight:bolder
}

.fapi-order-form code, .fapi-order-form kbd, .fapi-order-form pre, .fapi-order-form samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size:1em
}

.fapi-order-form small {
    font-size:80%
}

.fapi-order-form sub, .fapi-order-form sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align:baseline
}

.fapi-order-form sub {
    bottom:-.25em
}

.fapi-order-form sup {
    top:-.5em
}

.fapi-order-form table {
    text-indent: 0;
    border-color:inherit
}

.fapi-order-form button, .fapi-order-form input, .fapi-order-form optgroup, .fapi-order-form select, .fapi-order-form textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin:0
}

.fapi-order-form button, .fapi-order-form select {
    text-transform:none
}

.fapi-order-form [type=button], .fapi-order-form [type=reset], .fapi-order-form [type=submit], .fapi-order-form button {
    -webkit-appearance:button
}

.fapi-order-form ::-moz-focus-inner {
    border-style: none;
    padding:0
}

.fapi-order-form :-moz-focusring {
    outline:1px dotted ButtonText
}

.fapi-order-form :-moz-ui-invalid {
    box-shadow:none
}

.fapi-order-form legend {
    padding:0
}

.fapi-order-form progress {
    vertical-align:baseline
}

.fapi-order-form ::-webkit-inner-spin-button, .fapi-order-form ::-webkit-outer-spin-button {
    height:auto
}

.fapi-order-form [type=search] {
    -webkit-appearance: textfield;
    outline-offset:-2px
}

.fapi-order-form ::-webkit-search-decoration {
    -webkit-appearance:none
}

.fapi-order-form ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font:inherit
}

.fapi-order-form summary {
    display:list-item
}

.fapi-order-form blockquote, .fapi-order-form dd, .fapi-order-form dl, .fapi-order-form figure, .fapi-order-form h1, .fapi-order-form h2, .fapi-order-form h3, .fapi-order-form h4, .fapi-order-form h5, .fapi-order-form h6, .fapi-order-form hr, .fapi-order-form p, .fapi-order-form pre {
    margin:0
}

.fapi-order-form button {
    background-color: transparent;
    background-image:none
}

.fapi-order-form fieldset {
    margin: 0;
    padding:0
}

.fapi-order-form ol, .fapi-order-form ul {
    list-style: none;
    margin: 0;
    padding:0
}

.fapi-order-form html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height:1.5
}

.fapi-order-form body {
    font-family: inherit;
    line-height:inherit
}

.fapi-order-form *, .fapi-order-form :after, .fapi-order-form :before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color:currentColor
}

.fapi-order-form hr {
    border-top-width:1px
}

.fapi-order-form img {
    border-style:solid
}

.fapi-order-form textarea {
    resize:vertical
}

.fapi-order-form input::-moz-placeholder, .fapi-order-form textarea::-moz-placeholder {
    opacity: 1;
    color:#9ca3af
}

.fapi-order-form input:-ms-input-placeholder, .fapi-order-form textarea:-ms-input-placeholder {
    opacity: 1;
    color:#9ca3af
}

.fapi-order-form input::placeholder, .fapi-order-form textarea::placeholder {
    opacity: 1;
    color:#9ca3af
}

.fapi-order-form [role=button], .fapi-order-form button {
    cursor:pointer
}

.fapi-order-form :-moz-focusring {
    outline:auto
}

.fapi-order-form table {
    border-collapse:collapse
}

.fapi-order-form h1, .fapi-order-form h2, .fapi-order-form h3, .fapi-order-form h4, .fapi-order-form h5, .fapi-order-form h6 {
    font-size: inherit;
    font-weight:inherit
}

.fapi-order-form a {
    color: inherit;
    text-decoration:inherit
}

.fapi-order-form button, .fapi-order-form input, .fapi-order-form optgroup, .fapi-order-form select, .fapi-order-form textarea {
    padding: 0;
    line-height: inherit;
    color:inherit
}

.fapi-order-form code, .fapi-order-form kbd, .fapi-order-form pre, .fapi-order-form samp {
    font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

.fapi-order-form audio, .fapi-order-form canvas, .fapi-order-form embed, .fapi-order-form iframe, .fapi-order-form img, .fapi-order-form object, .fapi-order-form svg, .fapi-order-form video {
    display: block;
    vertical-align:middle
}

.fapi-order-form img, .fapi-order-form video {
    max-width: 100%;
    height:auto
}

.fapi-order-form [hidden] {
    display:none
}

*, .fapi-order-form *, .fapi-order-form :after, .fapi-order-form :before, :after, :before {
    --tw-border-opacity: 1;
    border-color:rgba(229, 231, 235, var(--tw-border-opacity))
}

.f-form-input, .f-form-select, .f-form-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow:0 0 #0000
}

.f-form-input:focus, .f-form-select:focus, .f-form-textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color:#2563eb
}

.f-form-input::-moz-placeholder, .f-form-textarea::-moz-placeholder {
    color: #6b7280;
    opacity:1
}

.f-form-input:-ms-input-placeholder, .f-form-textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity:1
}

.f-form-input::placeholder, .f-form-textarea::placeholder {
    color: #6b7280;
    opacity:1
}

.f-form-input::-webkit-datetime-edit-fields-wrapper {
    padding:0
}

.f-form-input::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align:inherit
}

.f-form-input::-webkit-datetime-edit {
    display:inline-flex
}

.f-form-input::-webkit-datetime-edit, .f-form-input::-webkit-datetime-edit-day-field, .f-form-input::-webkit-datetime-edit-hour-field, .f-form-input::-webkit-datetime-edit-meridiem-field, .f-form-input::-webkit-datetime-edit-millisecond-field, .f-form-input::-webkit-datetime-edit-minute-field, .f-form-input::-webkit-datetime-edit-month-field, .f-form-input::-webkit-datetime-edit-second-field, .f-form-input::-webkit-datetime-edit-year-field {
    padding-top: 0;
    padding-bottom:0
}

.f-form-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

.f-form-select:where([size]:not([size="1"])) {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust:unset
}

.f-form-checkbox, .f-form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow:0 0 #0000
}

.f-form-checkbox {
    border-radius:0
}

.f-form-radio {
    border-radius:100%
}

.f-form-checkbox:focus, .f-form-radio:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.f-form-checkbox:checked, .f-form-radio:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat:no-repeat
}

.f-form-checkbox:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E")
}

@media (forced-colors: active) {
    .f-form-checkbox:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance:auto
    }
}

.f-form-radio:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E")
}

@media (forced-colors: active) {
    .f-form-radio:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance:auto
    }
}

.f-form-checkbox:checked:focus, .f-form-checkbox:checked:hover, .f-form-radio:checked:focus, .f-form-radio:checked:hover {
    border-color: transparent;
    background-color:currentColor
}

.f-form-checkbox:indeterminate {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat:no-repeat
}

@media (forced-colors: active) {
    .f-form-checkbox:indeterminate {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance:auto
    }
}

.f-form-checkbox:indeterminate:focus, .f-form-checkbox:indeterminate:hover {
    border-color: transparent;
    background-color:currentColor
}

.f-pointer-events-none {
    pointer-events:none !important
}

.f-fixed {
    position:fixed !important
}

.f-absolute {
    position:absolute !important
}

.f-relative {
    position:relative !important
}

.f-inset-y-0 {
    bottom:0 !important
}

.f-inset-y-0, .f-top-0 {
    top:0 !important
}

.f-right-0 {
    right:0 !important
}

.f-bottom-3 {
    bottom:12px !important
}

.f-left-0 {
    left:0 !important
}

.f-z-10 {
    z-index:10 !important
}

.focus-within\:f-z-10:focus-within {
    z-index:10 !important
}

.f-col-auto {
    grid-column:auto !important
}

.f-col-span-2 {
    grid-column:span 2/span 2 !important
}

.f-float-right {
    float:right !important
}

.f-float-left {
    float:left !important
}

.f-mx-auto {
    margin-left: auto !important;
    margin-right:auto !important
}

.f-mt-1 {
    margin-top:4px !important
}

.f-mt-2 {
    margin-top:8px !important
}

.f-mt-4 {
    margin-top:16px !important
}

.f-mt-6 {
    margin-top:24px !important
}

.f-mt-10 {
    margin-top:40px !important
}

.f-mt-px {
    margin-top:1px !important
}

.f--mt-1 {
    margin-top:-4px !important
}

.f--mt-4 {
    margin-top:-16px !important
}

.f--mt-5 {
    margin-top:-20px !important
}

.f--mt-0\.5 {
    margin-top:-2px !important
}

.f-mr-1 {
    margin-right:4px !important
}

.f-mr-2 {
    margin-right:8px !important
}

.f-mr-4 {
    margin-right:16px !important
}

.f-mr-6 {
    margin-right:24px !important
}

.f-mr-28 {
    margin-right:112px !important
}

.f-mb-0 {
    margin-bottom:0 !important
}

.f-mb-2 {
    margin-bottom:8px !important
}

.f-mb-4 {
    margin-bottom:16px !important
}

.f-mb-5 {
    margin-bottom:20px !important
}

.f--mb-0\.5 {
    margin-bottom:-2px !important
}

.f-ml-2 {
    margin-left:8px !important
}

.f-ml-3 {
    margin-left:12px !important
}

.f-ml-7 {
    margin-left:28px !important
}

.f-ml-10 {
    margin-left:40px !important
}

.f--ml-5 {
    margin-left:-20px !important
}

.f--ml-7 {
    margin-left:-28px !important
}

.f--ml-14 {
    margin-left:-56px !important
}

.f--ml-px {
    margin-left:-1px !important
}

.f-block {
    display:block !important
}

.f-inline {
    display:inline !important
}

.f-flex {
    display:flex !important
}

.f-inline-flex {
    display:inline-flex !important
}

.f-grid {
    display:grid !important
}

.f-hidden {
    display:none !important
}

.f-h-3 {
    height:12px !important
}

.f-h-4 {
    height:16px !important
}

.f-h-5 {
    height:20px !important
}

.f-h-6 {
    height:24px !important
}

.f-h-7 {
    height:28px !important
}

.f-h-9 {
    height:36px !important
}

.f-h-11 {
    height:44px !important
}

.f-h-20 {
    height:80px !important
}

.f-h-52 {
    height:208px !important
}

.f-max-h-56 {
    max-height:224px !important
}

.f-w-3 {
    width:12px !important
}

.f-w-4 {
    width:16px !important
}

.f-w-5 {
    width:20px !important
}

.f-w-6 {
    width:24px !important
}

.f-w-10 {
    width:40px !important
}

.f-w-11 {
    width:44px !important
}

.f-w-12 {
    width:48px !important
}

.f-w-16 {
    width:64px !important
}

.f-w-28 {
    width:112px !important
}

.f-w-full {
    width:100% !important
}

.f-w-max {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width:max-content !important
}

.f-min-w-min {
    min-width: -webkit-min-content !important;
    min-width: -moz-min-content !important;
    min-width:min-content !important
}

.f-min-w-max {
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width:max-content !important
}

.f-max-w-full {
    max-width:100% !important
}

.f-max-w-min {
    max-width: -webkit-min-content !important;
    max-width: -moz-min-content !important;
    max-width:min-content !important
}

.f-flex-1 {
    flex:1 1 0% !important
}

.f-flex-shrink-0 {
    flex-shrink:0 !important
}

.f-flex-grow {
    flex-grow:1 !important
}

.f-transform {
    --tw-translate-x: 0 !important;
    --tw-translate-y: 0 !important;
    --tw-rotate: 0 !important;
    --tw-skew-x: 0 !important;
    --tw-skew-y: 0 !important;
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.f-rotate-12 {
    --tw-rotate:12deg !important
}

.f-rotate-45 {
    --tw-rotate:45deg !important
}

@keyframes f-spin {
    to {
        transform:rotate(1turn)
    }
}

@keyframes f-ping {
    75%, to {
        transform: scale(2);
        opacity:0
    }
}

@keyframes f-pulse {
    50% {
        opacity:.5
    }
}

@keyframes f-bounce {
    0%, to {
        transform: translateY(-25%);
        animation-timing-function:cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        animation-timing-function:cubic-bezier(0, 0, .2, 1)
    }
}

.f-animate-spin {
    animation:f-spin 1s linear infinite !important
}

.f-cursor-default {
    cursor:default !important
}

.f-cursor-pointer {
    cursor:pointer !important
}

.f-select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select:none !important
}

.f-grid-cols-1 {
    grid-template-columns:repeat(1, minmax(0, 1fr)) !important
}

.f-grid-cols-2 {
    grid-template-columns:repeat(2, minmax(0, 1fr)) !important
}

.f-flex-col {
    flex-direction:column !important
}

.f-flex-col-reverse {
    flex-direction:column-reverse !important
}

.f-flex-wrap {
    flex-wrap:wrap !important
}

.f-place-content-center {
    place-content:center !important
}

.f-items-center {
    align-items:center !important
}

.f-items-baseline {
    align-items:baseline !important
}

.f-items-stretch {
    align-items:stretch !important
}

.f-justify-end {
    justify-content:flex-end !important
}

.f-justify-between {
    justify-content:space-between !important
}

.f-gap-2 {
    gap:8px !important
}

.f-space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(4px * var(--tw-space-x-reverse)) !important;
    margin-left:calc(4px *(1 - var(--tw-space-x-reverse))) !important
}

.f-space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(16px * var(--tw-space-x-reverse)) !important;
    margin-left:calc(16px *(1 - var(--tw-space-x-reverse))) !important
}

.f-self-start {
    align-self:flex-start !important
}

.f-overflow-auto {
    overflow:auto !important
}

.f-truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space:nowrap !important
}

.f-rounded {
    border-radius:.25rem !important
}

.f-rounded-md {
    border-radius:.375rem !important
}

.f-rounded-lg {
    border-radius:.5rem !important
}

.f-rounded-full {
    border-radius:9999px !important
}

.f-rounded-t-md {
    border-top-left-radius: .375rem !important;
    border-top-right-radius:.375rem !important
}

.f-rounded-r {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius:.25rem !important
}

.f-rounded-r-md {
    border-top-right-radius: .375rem !important;
    border-bottom-right-radius:.375rem !important
}

.f-rounded-b {
    border-bottom-right-radius:.25rem !important
}

.f-rounded-b, .f-rounded-l {
    border-bottom-left-radius:.25rem !important
}

.f-rounded-l {
    border-top-left-radius:.25rem !important
}

.f-rounded-l-md {
    border-top-left-radius: .375rem !important;
    border-bottom-left-radius:.375rem !important
}

.f-border-0 {
    border-width:0 !important
}

.f-border-2 {
    border-width:2px !important
}

.f-border {
    border-width:1px !important
}

.f-border-t {
    border-top-width:1px !important
}

.f-border-r {
    border-right-width:1px !important
}

.f-border-b {
    border-bottom-width:1px !important
}

.f-border-l {
    border-left-width:1px !important
}

.f-border-gray-300 {
    --tw-border-opacity: 1 !important;
    border-color:rgba(209, 213, 219, var(--tw-border-opacity)) !important
}

.f-border-gray-400 {
    --tw-border-opacity: 1 !important;
    border-color:rgba(156, 163, 175, var(--tw-border-opacity)) !important
}

.f-border-red-300 {
    --tw-border-opacity: 1 !important;
    border-color:rgba(252, 165, 165, var(--tw-border-opacity)) !important
}

.f-border-red-400 {
    --tw-border-opacity: 1 !important;
    border-color:rgba(248, 113, 113, var(--tw-border-opacity)) !important
}

.f-border-red-600 {
    --tw-border-opacity: 1 !important;
    border-color:rgba(220, 38, 38, var(--tw-border-opacity)) !important
}

.focus\:f-border-red-500:focus {
    --tw-border-opacity: 1 !important;
    border-color:rgba(239, 68, 68, var(--tw-border-opacity)) !important
}

.focus\:f-border-blue-500:focus {
    --tw-border-opacity: 1 !important;
    border-color:rgba(59, 130, 246, var(--tw-border-opacity)) !important
}

.f-bg-transparent {
    background-color:transparent !important
}

.f-bg-white {
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

.f-bg-gray-200, .f-bg-white {
    --tw-bg-opacity:1 !important
}

.f-bg-gray-200 {
    background-color:rgba(229, 231, 235, var(--tw-bg-opacity)) !important
}

.f-bg-gray-300 {
    --tw-bg-opacity: 1 !important;
    background-color:rgba(209, 213, 219, var(--tw-bg-opacity)) !important
}

.f-bg-red-100 {
    --tw-bg-opacity: 1 !important;
    background-color:rgba(254, 226, 226, var(--tw-bg-opacity)) !important
}

.f-bg-blue-500 {
    --tw-bg-opacity: 1 !important;
    background-color:rgba(59, 130, 246, var(--tw-bg-opacity)) !important
}

.hover\:f-bg-gray-200:hover {
    --tw-bg-opacity: 1 !important;
    background-color:rgba(229, 231, 235, var(--tw-bg-opacity)) !important
}

.hover\:f-bg-blue-600:hover {
    --tw-bg-opacity: 1 !important;
    background-color:rgba(37, 99, 235, var(--tw-bg-opacity)) !important
}

.f-p-1 {
    padding:4px !important
}

.f-p-2 {
    padding:8px !important
}

.f-p-3 {
    padding:12px !important
}

.f-p-5 {
    padding:20px !important
}

.f-p-6 {
    padding:24px !important
}

.f-p-px {
    padding:1px !important
}

.f-px-1 {
    padding-left: 4px !important;
    padding-right:4px !important
}

.f-px-2 {
    padding-left: 8px !important;
    padding-right:8px !important
}

.f-px-3 {
    padding-left: 12px !important;
    padding-right:12px !important
}

.f-px-4 {
    padding-left: 16px !important;
    padding-right:16px !important
}

.f-px-6 {
    padding-left: 24px !important;
    padding-right:24px !important
}

.f-py-1 {
    padding-top: 4px !important;
    padding-bottom:4px !important
}

.f-py-2 {
    padding-top: 8px !important;
    padding-bottom:8px !important
}

.f-py-3 {
    padding-top: 12px !important;
    padding-bottom:12px !important
}

.f-pt-1 {
    padding-top:4px !important
}

.f-pt-2 {
    padding-top:8px !important
}

.f-pt-5 {
    padding-top:20px !important
}

.f-pr-1 {
    padding-right:4px !important
}

.f-pr-6 {
    padding-right:24px !important
}

.f-pr-9 {
    padding-right:36px !important
}

.f-pl-1 {
    padding-left:4px !important
}

.f-pl-2 {
    padding-left:8px !important
}

.f-pl-3 {
    padding-left:12px !important
}

.f-pl-8 {
    padding-left:32px !important
}

.f-pl-28 {
    padding-left:112px !important
}

.f-pl-1\.5 {
    padding-left:6px !important
}

.f-pl-2\.5 {
    padding-left:10px !important
}

.f-text-left {
    text-align:left !important
}

.f-text-center {
    text-align:center !important
}

.f-text-right {
    text-align:right !important
}

.f-text-xs {
    font-size:.75em !important
}

.f-text-sm {
    font-size:.875em !important
}

.f-text-base {
    font-size:1em !important
}

.f-text-xl {
    font-size:1.25em !important
}

.f-font-normal {
    font-weight:400 !important
}

.f-font-semibold {
    font-weight:600 !important
}

.f-text-transparent {
    color:transparent !important
}

.f-text-white {
    --tw-text-opacity: 1 !important;
    color:rgba(255, 255, 255, var(--tw-text-opacity)) !important
}

.f-text-gray-400 {
    --tw-text-opacity: 1 !important;
    color:rgba(156, 163, 175, var(--tw-text-opacity)) !important
}

.f-text-gray-600 {
    --tw-text-opacity: 1 !important;
    color:rgba(75, 85, 99, var(--tw-text-opacity)) !important
}

.f-text-gray-700 {
    --tw-text-opacity: 1 !important;
    color:rgba(55, 65, 81, var(--tw-text-opacity)) !important
}

.f-text-gray-900 {
    --tw-text-opacity: 1 !important;
    color:rgba(17, 24, 39, var(--tw-text-opacity)) !important
}

.f-text-red-500 {
    --tw-text-opacity: 1 !important;
    color:rgba(239, 68, 68, var(--tw-text-opacity)) !important
}

.f-text-red-600 {
    --tw-text-opacity: 1 !important;
    color:rgba(220, 38, 38, var(--tw-text-opacity)) !important
}

.f-text-red-700 {
    --tw-text-opacity: 1 !important;
    color:rgba(185, 28, 28, var(--tw-text-opacity)) !important
}

.f-text-red-900 {
    --tw-text-opacity: 1 !important;
    color:rgba(127, 29, 29, var(--tw-text-opacity)) !important
}

.f-text-green-500 {
    --tw-text-opacity: 1 !important;
    color:rgba(16, 185, 129, var(--tw-text-opacity)) !important
}

.f-text-blue-500 {
    --tw-text-opacity: 1 !important;
    color:rgba(59, 130, 246, var(--tw-text-opacity)) !important
}

.hover\:f-text-gray-500:hover {
    --tw-text-opacity: 1 !important;
    color:rgba(107, 114, 128, var(--tw-text-opacity)) !important
}

.f-line-through {
    text-decoration:line-through !important
}

.hover\:f-underline:hover {
    text-decoration:underline !important
}

.f-placeholder-red-300::-moz-placeholder {
    --tw-placeholder-opacity: 1 !important;
    color:rgba(252, 165, 165, var(--tw-placeholder-opacity)) !important
}

.f-placeholder-red-300:-ms-input-placeholder {
    --tw-placeholder-opacity: 1 !important;
    color:rgba(252, 165, 165, var(--tw-placeholder-opacity)) !important
}

.f-placeholder-red-300::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color:rgba(252, 165, 165, var(--tw-placeholder-opacity)) !important
}

.f-opacity-25 {
    opacity:.25 !important
}

.f-opacity-75 {
    opacity:.75 !important
}

.f-opacity-95 {
    opacity:.95 !important
}

.f-opacity-100 {
    opacity:1 !important
}

.hover\:f-opacity-80:hover {
    opacity:.8 !important
}

*, :after, :before {
    --tw-shadow:0 0 #0000
}

.f-shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.f-shadow-lg, .hover\:f-shadow-lg:hover {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05) !important;
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.focus\:f-outline-none:focus {
    outline: 2px solid transparent !important;
    outline-offset:2px !important
}

*, :after, :before {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow:0 0 #0000
}

.f-ring-1, .focus\:f-ring-1:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
}

.f-ring-1, .focus\:f-ring-1:focus, .focus\:f-ring-2:focus {
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}

.focus\:f-ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
}

.focus\:f-ring-4:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}

.f-ring-black {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color:rgba(0, 0, 0, var(--tw-ring-opacity)) !important
}

.focus\:f-ring-red-500:focus {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color:rgba(239, 68, 68, var(--tw-ring-opacity)) !important
}

.focus\:f-ring-blue-500:focus {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color:rgba(59, 130, 246, var(--tw-ring-opacity)) !important
}

.focus\:f-ring-indigo-500:focus {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color:rgba(99, 102, 241, var(--tw-ring-opacity)) !important
}

.f-ring-opacity-5 {
    --tw-ring-opacity:0.05 !important
}

.f-transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1) !important;
    transition-duration:.15s !important
}

.f-transition-opacity {
    transition-property: opacity !important;
    transition-timing-function:cubic-bezier(.4, 0, .2, 1) !important
}

.f-duration-150, .f-transition-opacity {
    transition-duration:.15s !important
}

.f-duration-300 {
    transition-duration:.3s !important
}

@media (min-width: 640px) {
    .sm\:f-relative {
        position:relative !important
    }

    .sm\:f-top-auto {
        top:auto !important
    }

    .sm\:f-col-span-1 {
        grid-column:span 1/span 1 !important
    }

    .sm\:f-mt-0 {
        margin-top:0 !important
    }

    .sm\:f-ml-32 {
        margin-left:128px !important
    }

    .sm\:f--ml-2 {
        margin-left:-8px !important
    }

    .sm\:f--ml-3 {
        margin-left:-12px !important
    }

    .sm\:f-inline-block {
        display:inline-block !important
    }

    .sm\:f-flex {
        display:flex !important
    }

    .sm\:f-w-4 {
        width:16px !important
    }

    .sm\:f-w-32 {
        width:128px !important
    }

    .sm\:f-grid-cols-2 {
        grid-template-columns:repeat(2, minmax(0, 1fr)) !important
    }

    .sm\:f-grid-cols-3 {
        grid-template-columns:repeat(3, minmax(0, 1fr)) !important
    }

    .sm\:f-flex-row {
        flex-direction:row !important
    }

    .sm\:f-gap-3 {
        gap:12px !important
    }

    .sm\:f-gap-4 {
        gap:16px !important
    }

    .sm\:f-space-x-2 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0 !important;
        margin-right: calc(8px * var(--tw-space-x-reverse)) !important;
        margin-left:calc(8px *(1 - var(--tw-space-x-reverse))) !important
    }
}

.fapi-order-form {
    --background-color: #fff;
    --font-size: 16px;
    --color: #555;
    --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --container-header-background-color: #f0f0f0;
    --container-header-font-size: 18px;
    --container-header-color: #555;
    --container-header-font-family: inherit;
    --submit-button-font-size: 20px;
    --submit-button-border-radius: 20px;
    --submit-button-text-color: #000;
    --submit-button-background-color: #fcbe00;
    --submit-button-font-family: inherit;
    --input-color: #2563eb;
    --input-color-disabled: #e5e7eb;
    --sale-color: #ff1901;
    --checkbox-color-default: #fff;
    --order-bump-container-header-background-color: red;
    --order-bump-container-header-font-size: 16px;
    --order-bump-container-header-color: #fff;
    --order-bump-container-content-background-color: transparent;
    --order-bump-container-content-item-background-color: transparent;
    --order-bump-container-border-width: 3px;
    --order-bump-container-border-style: dashed;
    --order-bump-border-style: var(--order-bump-container-border-width) var(--order-bump-container-border-style) var(--order-bump-container-header-background-color) !important;
    --order-bump-item-arrow-display: inherit;
    --order-bump-item-arrow-color: red;
    --order-bump-space-margin: 10px 0 10px;
    --order-bump-space-padding: 14px 24px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    background-color:var(--background-color)
}

.fapi-order-form .fapi-container-header {
    background-color: var(--container-header-background-color);
    font-size: var(--container-header-font-size);
    color: var(--container-header-color);
    font-family:var(--container-header-font-family)
}

.fapi-order-form form input[multiple]:focus, .fapi-order-form form input[type=date]:focus, .fapi-order-form form input[type=datetime-local]:focus, .fapi-order-form form input[type=email]:focus, .fapi-order-form form input[type=month]:focus, .fapi-order-form form input[type=number]:focus, .fapi-order-form form input[type=password]:focus, .fapi-order-form form input[type=search]:focus, .fapi-order-form form input[type=tel]:focus, .fapi-order-form form input[type=text]:focus, .fapi-order-form form input[type=time]:focus, .fapi-order-form form input[type=url]:focus, .fapi-order-form form input[type=week]:focus, .fapi-order-form form select:focus, .fapi-order-form form textarea:focus {
    --tw-ring-color: var(--input-color) !important;
    border-color:var(--input-color) !important
}

.fapi-order-form form .fapi-form-discounted-price {
    color:var(--sale-color) !important
}

.fapi-order-form form input[type=checkbox], .fapi-order-form form input[type=radio] {
    height: 16px !important;
    width: 16px !important;
    padding: 0 !important;
    color:var(--input-color) !important
}

.fapi-order-form form input[type=checkbox]:focus, .fapi-order-form form input[type=radio]:focus {
    --tw-ring-color:var(--input-color) !important
}

.fapi-order-form form input[type=checkbox]:disabled, .fapi-order-form form input[type=radio]:disabled {
    opacity:.5
}

.fapi-order-form form input[type=checkbox]:disabled:not(.fapi-order-form form input[type=checkbox]:checked, .fapi-order-form form input[type=radio]:checked), .fapi-order-form form input[type=radio]:disabled:not(.fapi-order-form form input[type=checkbox]:checked, .fapi-order-form form input[type=radio]:checked) {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    opacity:1
}

.fapi-order-form form input[type=radio] {
    border-radius:9999px !important
}

.fapi-order-form form input[multiple], .fapi-order-form form input[type=date], .fapi-order-form form input[type=datetime-local], .fapi-order-form form input[type=email], .fapi-order-form form input[type=month], .fapi-order-form form input[type=number], .fapi-order-form form input[type=password], .fapi-order-form form input[type=search], .fapi-order-form form input[type=tel], .fapi-order-form form input[type=text], .fapi-order-form form input[type=time], .fapi-order-form form input[type=url], .fapi-order-form form input[type=week], .fapi-order-form form select, .fapi-order-form form textarea {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 1em;
    line-height: 1.5em;
    height:unset
}

.fapi-order-form form select {
    padding-right: 40px;
    background-position:right .5em center
}

.fapi-order-form form button {
    font-size: 1em;
    line-height:1.5em
}

.fapi-order-form form div {
    float:none
}

.fapi-order-form form label {
    margin: 0;
    display: inline !important;
    font-weight: 400 !important;
    font-family: var(--font-family);
    color:var(--color)
}

.fapi-order-form form button {
    margin: 0;
    font-weight:400
}

.fapi-order-form form button:hover {
    background-image:none
}

.fapi-order-form form img {
    margin: 0 !important;
    display: block !important;
    border-style:none !important
}

.fapi-order-form form p {
    font-size: 1em;
    font-weight: 400 !important;
    line-height: 1.5em !important;
    font-family: var(--font-family);
    color:var(--color)
}

.fapi-order-form form ol, .fapi-order-form form ul {
    margin: 0 !important;
    list-style-type: none !important;
    padding:0 !important
}

.fapi-order-form form .f-form-checkbox:checked {
    background-color:var(--input-color) !important
}

.fapi-order-form form .f-form-checkbox {
    background-color:var(--checkbox-color-default) !important
}

.fapi-order-form form .f-form-radio:checked {
    background-color: var(--input-color) !important
}

.fapi-order-form form [class * ="col  -"] {
    margin: 0;
    padding:0
}

.fapi-order-form form .fapi-form-basic-data li:before {
    margin: 0 !important;
    padding: 0 !important;
    content: "" !important
}

.fapi-order-form .order-bump {
    background-color: var(--order-bump-container-header-background-color) !important;
    font-size: var(--order-bump-container-header-font-size) !important;
    color:var(--order-bump-container-header-color) !important
}

.fapi-order-form .order-bump-content {
    border-right: var(--order-bump-border-style);
    border-bottom: var(--order-bump-border-style);
    border-left: var(--order-bump-border-style);
    margin-bottom: 1em;
    background-color: var(--order-bump-container-content-background-color);
    padding:var(--order-bump-space-padding) !important
}

.fapi-order-form .payment-method-selected {
    border-color:var(--input-color)
}

.fapi-order-form input[type=number]::-webkit-inner-spin-button, .fapi-order-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0
}

.f-max-w-2\/5 {
    max-width:40%
}

.f-max-w-3\/5 {
    max-width:60%
}

.fapi-order-form .order-bump-label {
    background-color:var(--order-bump-container-content-item-background-color)
}

.fapi-order-form .order-bump-label p {
    margin-bottom:0
}

.fapi-order-form .order-bump-label .order-bump-arrow {
    display: var(--order-bump-item-arrow-display);
    color:var(--order-bump-item-arrow-color)
}

.fapi-order-form .order-bump-space {
    margin:var(--order-bump-space-margin)
}

.fapi-order-form .fapi-order-bump-image {
    max-width: 250px;
    max-height: 150px;
    border-radius:5px
}

.fapi-order-form .fapi-submit-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom:12px
}

.fapi-order-form .fapi-submit-button:hover {
    opacity:.8
}

.fapi-order-form .fapi-submit-button:focus {
    outline: 2px solid transparent;
    outline-offset:2px
}

.fapi-order-form .fapi-submit-button {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    font-size: var(--submit-button-font-size);
    color: var(--submit-button-text-color);
    border-radius: var(--submit-button-border-radius);
    background-color: var(--submit-button-background-color);
    font-family: var(--submit-button-font-family);
    line-height:1em
}

.fapi-order-form .fapi-sending {
    color: var(--submit-button-background-color);
    font-family: var(--submit-button-font-family)
}
